.contact-section {
    padding: 20px 40px;
    text-align: center;
}

.contactmain-content {
  padding-top: 60px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactmain-content  h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #c94c1e;
    margin: 10px 0px;
    align-items: center;
    letter-spacing: 1px;
    max-width: fit-content;
}

.contactmain-content  p {
    color: #000;
    font-size: 15px;
    margin: 10px;
    letter-spacing: 1px;
    line-height: 30px;

}
.location-section {
  padding: 40px 20px;
  
}

.location-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.location-container .leaflet-container {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
